<app-header-unregistered></app-header-unregistered>

<div style="display: flex; justify-content: center;">
    <mat-card id="form">
        <mat-card-header>
            <mat-card-title>Forgot password</mat-card-title>
            <mat-card-subtitle>Enter your email and you will receive temporary link to change your
                password</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Email address</mat-label>
                <input matInput [(ngModel)]="email">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="sendLink()">Send
                link</button>
            <span style="color: red">{{ message }}</span>
        </mat-card-content>
    </mat-card>
    <h3 id="message" style="display: none;">Email successfully sent</h3>
</div>