<app-header-unregistered></app-header-unregistered>

<div class="flex-center">
  <mat-card id="form">
    <div class="flex-center">
      <div class="flex-column">
        <div class="flex-row">
          <div class="flex-column">
              <h3>Forgot password</h3>
              <h6 style="color: gray">
                Enter your email and you will receive temporary link to change
                your password
              </h6>
            </div>
          </div>
        <div class="flex-row">
          <div class="flex-column">
              <mat-form-field appearance="fill">
                <mat-label>Email address</mat-label>
                <input matInput [(ngModel)]="email" />
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="sendLink()">
                Send link
              </button>
              <span style="color: red">{{ message }}</span>
            </div>
        </div>
      </div>
    </div>
  </mat-card>
  <h3 id="message" style="display: none">Email successfully sent</h3>
</div>
