<app-header-admin></app-header-admin>
<mat-tab-group>
    <mat-tab label="Participants">
        <table mat-table id="table-participants" [dataSource]="participants" multiTemplateDataRows class="mat-elevation-z8">

            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsParticipants">
                <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let participant">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedParticipant = expandedParticipant === participant ? null : participant); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedParticipant !== participant">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedParticipant === participant">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let participant" [attr.colspan]="columnsParticipantsExpand.length">
                    <div class="example-element-detail"
                        [@detailExpand]="participant == expandedParticipant ? 'expanded' : 'collapsed'">
                        <div class="flex-row">
                            <mat-form-field style="margin: 10px;">
                                <mat-label>Username</mat-label>
                                <input matInput [(ngModel)]="participant.username" disabled>
                            </mat-form-field>
                            <mat-form-field style="margin: 10px;">
                                <mat-label>Firstname</mat-label>
                                <input matInput [(ngModel)]="participant.firstname">
                            </mat-form-field>
                            <mat-form-field style="margin: 10px;">
                                <mat-label>Lastname</mat-label>
                                <input matInput [(ngModel)]="participant.lastname">
                            </mat-form-field>
                            <mat-form-field style="margin: 10px;">
                                <mat-label>Email</mat-label>
                                <input matInput [(ngModel)]="participant.email">
                            </mat-form-field>
                            <mat-form-field style="margin: 10px;">
                                <mat-label>Phone</mat-label>
                                <input matInput [(ngModel)]="participant.phone">
                            </mat-form-field>

                            <button mat-raised-button color="primary" style="margin: 10px 0;"
                                (click)="updateParticipant(participant.username)">Update</button>
                            <button mat-raised-button color="warn" style="margin: 10px 0;"
                                (click)="removeParticipant(participant.username)">Remove</button>

                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsParticipantsExpand"></tr>
            <tr mat-row *matRowDef="let participant; columns: columnsParticipantsExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedParticipant === participant"
                (click)="expandedParticipant = expandedParticipant === participant ? null : participant">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Organizers">
        <table mat-table id="table-organizers" [dataSource]="organizers" multiTemplateDataRows class="mat-elevation-z8">

            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsParticipants">
                <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let organizer">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedParticipant = expandedParticipant === organizer ? null : organizer); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedParticipant !== organizer">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedParticipant === organizer">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let organizer" [attr.colspan]="columnsParticipantsExpand.length">
                    <div class="example-element-detail"
                        [@detailExpand]="organizer == expandedParticipant ? 'expanded' : 'collapsed'">
                        <div class="flex-column">
                            <div class="flex-row">
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Username</mat-label>
                                    <input matInput [(ngModel)]="organizer.username" disabled>
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Firstname</mat-label>
                                    <input matInput [(ngModel)]="organizer.firstname">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Lastname</mat-label>
                                    <input matInput [(ngModel)]="organizer.lastname">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Email</mat-label>
                                    <input matInput [(ngModel)]="organizer.email">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Phone</mat-label>
                                    <input matInput [(ngModel)]="organizer.phone">
                                </mat-form-field>
    
                                <button mat-raised-button color="primary" style="margin: 10px 0;"
                                    (click)="updateOrganizer(organizer.username)">Update</button>
                                <button mat-raised-button color="warn" style="margin: 10px 0;"
                                    (click)="removeOrganizer(organizer.username)">Remove</button>
    
                            </div>
                            <div class="flex-row">
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization name</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.name">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization country</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.address.country">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization city</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.address.city">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization zip code</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.address.zipCode">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization street</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.address.street">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization street number</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.address.number">
                                </mat-form-field>
                                <mat-form-field style="margin: 10px;">
                                    <mat-label>Organization number</mat-label>
                                    <input matInput [(ngModel)]="organizer.organization.number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsParticipantsExpand"></tr>
            <tr mat-row *matRowDef="let organizer; columns: columnsParticipantsExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedParticipant === organizer"
                (click)="expandedParticipant = expandedParticipant === organizer ? null : organizer">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Pending requests">
        <table mat-table [dataSource]="pendingUsers" class="mat-elevation-z8">

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let user"> {{user.username}} </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef> Firstname </th>
                <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Lastname </th>
                <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="accept">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button mat-raised-button color="primary" (click)="acceptUser(user.username)">Accept</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="reject">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button mat-raised-button color="warn" (click)="rejectUser(user.username)">Reject</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPending"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPending;"></tr>
        </table>


    </mat-tab>

    <mat-tab label="Add new user">
        <div class="flex-center">
            <mat-card>

                <div class="flex-row">
                    <div class="flex-column">
                        <mat-form-field>
                            <mat-label>Firstname</mat-label>
                            <input matInput placeholder="Enter first name" [(ngModel)]="newUser.firstname">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Lastname</mat-label>
                            <input matInput placeholder="Enter last name" [(ngModel)]="newUser.lastname">
                        </mat-form-field>
                        
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter username" [(ngModel)]="newUser.username">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter password" [(ngModel)]="newUser.password">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Enter email" [(ngModel)]="newUser.email">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Phone number</mat-label>
                    <input matInput placeholder="Enter phone number" [(ngModel)]="newUser.phone">
                </mat-form-field>

                <input type="file" accept="image/jpeg, image/png" (change)="newUserChangeImage($event)" />
                <button mat-raised-button color="primary" style="margin: 10px 0;" (click)="addNewUser()">Add
                    user</button>
                </div>

                <div class="flex-column">
                <mat-checkbox>Organizer</mat-checkbox>
                <mat-form-field>
                    <mat-label>Organization name</mat-label>
                    <input matInput placeholder="Enter organization name" [(ngModel)]="newUser.organizationName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization country</mat-label>
                    <input matInput placeholder="Enter organization country" [(ngModel)]="newUser.organizationCountry">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization city</mat-label>
                    <input matInput placeholder="Enter organization city" [(ngModel)]="newUser.organizationCity">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization zip code</mat-label>
                    <input matInput placeholder="Enter organization zip code" [(ngModel)]="newUser.organizationZipCode">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization street</mat-label>
                    <input matInput placeholder="Enter organization street" [(ngModel)]="newUser.organizationStreet">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization street number</mat-label>
                    <input matInput placeholder="Enter organization street number"
                    [(ngModel)]="newUser.organizationStreetNumber">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Organization number</mat-label>
                    <input matInput placeholder="Enter organization number" [(ngModel)]="newUser.organizationNumber">
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    </div>
    </mat-tab>
</mat-tab-group>