<app-header-participant></app-header-participant>

<div class="flex-center" *ngIf="workshop != null">
    <mat-card>
        <div class="flex-center">
            <div class="flex-column">
                <div class="flex-row">
                    <div class="flex-column">
                        <div class="flex-row">
                            <img src="{{image}}">
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <h4>{{ workshop.name }}</h4>
                        </div>
                        <div class="flex-row">
                            <h6 style="color: grey;">{{ datetimeFormat(workshop.datetime) }}
                                <br>{{ workshop.place }}
                            </h6>
                        </div>
                        <div class="flex-row">
                            {{ workshop.short_description }}
                        </div>
                        <div class="flex-row">
                            <button mat-raised-button color="primary" (click)="apply()"
                                *ngIf="workshop.capacity.free > 0">Apply</button>
                            <button mat-raised-button color="primary" (click)="subscribe()"
                                *ngIf="workshop.capacity.free == 0">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-column">
                        <h4>Gallery</h4>
                        <div class="flex-row">
                            <img *ngFor="let g of gallery; let i = index" [src]="g" [hidden]="currentIndex !== i" />
                        </div>

                        <div class="flex-row">
                            <button mat-icon-button (click)="previousImage()">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <button mat-icon-button (click)="nextImage()">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>

                        <div class="flex-row">
                            <h4>About</h4>
                        </div>
                        <div class="flex-row">
                            {{ workshop.long_description }}
                        </div>

                    </div>
                    <div class="flex-column">
                        <app-location [latitude]="workshop.location.latitude"
                            [longitude]="workshop.location.longitude"></app-location>
                    </div>
                </div>
                <div class="flex-row" *ngIf="likeable">
                    <button mat-icon-button [color]="color" (click)="like()"><mat-icon>favorite</mat-icon></button>
                </div>
            </div>
        </div>
    </mat-card>
</div>