<app-header-participant></app-header-participant>

<div class="flex-center" *ngIf="workshop != null">
    <mat-card>
        <div class="flex-center">
            <div class="flex-column">
                <div class="flex-row">
                    <div class="flex-column">
                        <div class="flex-row">
                            <img src="{{image}}">
                        </div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <h4>{{ workshop.name }}</h4>
                        </div>
                        <div class="flex-row">
                            <h6 style="color: grey;">{{ datetimeFormat(workshop.datetime) }}
                                <br>{{ workshop.place }}
                            </h6>
                        </div>
                        <div class="flex-row">
                            {{ workshop.short_description }}
                        </div>
                        <div class="flex-row">
                            <button mat-raised-button color="primary" (click)="apply()"
                                *ngIf="workshop.capacity.free > 0">Apply</button>
                            <button mat-raised-button color="primary" (click)="subscribe()"
                                *ngIf="workshop.capacity.free == 0">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-column">
                        <h4>Gallery</h4>
                        <div class="flex-row">
                            <img *ngFor="let g of gallery; let i = index" [src]="g" [hidden]="currentIndex !== i" />
                        </div>

                        <div class="flex-row">
                            <button mat-icon-button (click)="previousImage()">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <button mat-icon-button (click)="nextImage()">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>

                        <div class="flex-row">
                            <h4>About</h4>
                        </div>
                        <div class="flex-row">
                            {{ workshop.long_description }}
                        </div>

                    </div>
                    <div class="flex-column">
                        <app-location [latitude]="workshop.location.latitude"
                            [longitude]="workshop.location.longitude"></app-location>
                    </div>
                </div>
                <div class="flex-row" *ngIf="likeable">
                    <span>
                        <button mat-icon-button [color]="color" (click)="like()"><mat-icon>favorite</mat-icon></button>
                        {{likes}}</span>
                    <span>
                        <button mat-icon-button color="basic"><mat-icon>comment</mat-icon></button>
                        {{comments.length}}</span>
                </div>
                <div class="flex-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Comment</mat-label>
                        <textarea matInput [(ngModel)]="content" rows="1"></textarea>
                    </mat-form-field>
                    <button style="margin: 10px" mat-raised-button color="primary" (click)="comment()">Comment</button>
                </div>
                <div class="flex-row" *ngFor="let comment of comments">
                    <mat-card style="width: 100%;">
                        <div class="flex-row">
                            <div class="flex-column">
                                <img src="{{comment.image}}" style="width: 80px; border-radius: 40px;">
                            </div>
                            <div class="flex-column">
                                <div class="flex-row">{{comment.username}} &nbsp; <p style="color: grey;">
                                        {{datetimeFormat(comment.datetime)}}</p>
                                </div>
                                <div class="flex-row">{{comment.content}}</div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card>

    <div style="position: fixed; bottom: 0; right: 0;">
        <app-chat [usernameTo]="workshop.organizer" [usernameFrom]="username" [workshop]="workshop._id"></app-chat>
    </div>
</div>