<app-header-organizer></app-header-organizer>
<mat-tab-group>
    <mat-tab label="Information">
        <app-account-info></app-account-info>
    </mat-tab>

    <mat-tab label="Messages">

        <div style="width: 400px; overflow-y: scroll;">
            <div class="flex-column">
                <div class="flex-row" *ngFor="let chat of chats" style="border: 2px solid #aaa"
                    (click)="openChat(chat)">
                    <div class="flex-column">
                        <img src="{{chat.image}}" style="width: 100px;">
                    </div>
                    <div class="flex-column">
                        <div class="flex-row">
                            <h4>{{chat.username}}</h4>
                        </div>
                        <div class="flex-row">
                            <h6>{{chat.workshop}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: relative; height: 500px;">
            <div style="position: absolute; bottom: 0; right: 0; overflow-x: scroll;">
                <div class="flex-row">
                    <div class="flex-column" *ngFor="let chat of openChats">
                        <app-chat [usernameFrom]="username" [usernameTo]="chat.username"
                            [workshop]="chat.workshopId"></app-chat>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>