/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
