<div class="flex-column"
    style="position: relative; height: 500px; width: 400px; border-radius: 20px; border: 2px solid #ccc;">
    <div style="background-color: #46f; width: 100%; padding: 20px; border-radius: 20px 20px 0px 0px;">{{usernameTo}} - {{workshopName}}
    </div>

    <div id="chat-div" style="overflow-y: scroll;position: absolute; top: 70px; bottom: 100px; left: 0; right: 0;">
        <div *ngFor="let m of chat">
            <div *ngIf="m.direction == 'sent'">
                <div class="flex-row">
                    <div class="flex-column">
                        <img src="{{imageFrom}}" style="width: 40px; border-radius: 20px;">
                    </div>
                    <div class="flex-column"
                        style="border: 1px solid black; border-radius: 10px; background-color: lightgrey;">
                        <div class="flex-row" style="color: grey">{{usernameFrom}}, {{datetimeFormat(m.datetime)}}</div>
                        <div class="flex-row">{{m.content}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="m.direction == 'received'">
                <div class="flex-row" style="justify-content: flex-end;">
                    <div class="flex-column"
                        style="border: 1px solid black; border-radius: 10px; background-color: lightgrey;">
                        <div class="flex-row" style="color: grey">{{usernameTo}}, {{datetimeFormat(m.datetime)}}</div>
                        <div class="flex-row">{{m.content}}</div>
                    </div>
                    <div class="flex-column">
                        <img src="{{imageTo}}" style="width: 40px; border-radius: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="position: absolute; bottom: 0; width: 100%">
        <mat-form-field style="width: 100%">
            <textarea matInput [(ngModel)]="message" placeholder="type..." style="width: 100%"></textarea>
            <button mat-button matSuffix (click)="send()">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>